/* TODO: add icons after [data-controller-icon] kbd */
/* TODO: add style to [data-controller-icon] kbd to look more like controller buttons */
:root {
	--icon-size: 2.5rem;
	--xbox-a: url('/images/xbox-buttons/a.svg');
	--xbox-b: url('/images/xbox-buttons/b.svg');
	--xbox-x: url('/images/xbox-buttons/x.svg');
	--xbox-y: url('/images/xbox-buttons/y.svg');
	--xbox-lt: url('/images/xbox-buttons/lt.svg');
	--xbox-rt: url('/images/xbox-buttons/rt.svg');
	--xbox-lb: url('/images/xbox-buttons/lb.svg');
	--xbox-rb: url('/images/xbox-buttons/rb.svg');
	--xbox-select: url('/images/xbox-buttons/select.svg');
	--xbox-start: url('/images/xbox-buttons/start.svg');
	--xbox-dpad-left: url('/images/xbox-buttons/dpad-left.svg');
	--xbox-dpad-up: url('/images/xbox-buttons/dpad-up.svg');
	--xbox-dpad-down: url('/images/xbox-buttons/dpad-down.svg');
	--xbox-dpad-right: url('/images/xbox-buttons/dpad-right.svg');
	--xbox-left-thumb: url('/images/xbox-buttons/left-thumb.svg');
	--xbox-right-thumb: url('/images/xbox-buttons/right-thumb.svg');
	--dualshock-a: url('/images/dualshock-buttons/a.svg');
	--dualshock-b: url('/images/dualshock-buttons/b.svg');
	--dualshock-x: url('/images/dualshock-buttons/x.svg');
	--dualshock-y: url('/images/dualshock-buttons/y.svg');
	--dualshock-lt: url('/images/dualshock-buttons/lt.svg');
	--dualshock-rt: url('/images/dualshock-buttons/rt.svg');
	--dualshock-lb: url('/images/dualshock-buttons/lb.svg');
	--dualshock-rb: url('/images/dualshock-buttons/rb.svg');
	--dualshock-select: url('/images/dualshock-buttons/select.svg');
	--dualshock-start: url('/images/dualshock-buttons/start.svg');
	--dualshock-dpad-left: url('/images/dualshock-buttons/dpad-left.svg');
	--dualshock-dpad-up: url('/images/dualshock-buttons/dpad-up.svg');
	--dualshock-dpad-down: url('/images/dualshock-buttons/dpad-down.svg');
	--dualshock-dpad-right: url('/images/dualshock-buttons/dpad-right.svg');
	--dualshock-left-thumb: url('/images/dualshock-buttons/left-thumb.svg');
	--dualshock-right-thumb: url('/images/dualshock-buttons/right-thumb.svg');
}

body[data-gamepad] [data-controller-icon] { display: revert; }

[data-controller-icon] {
	background: transparent;
	background-image: none;
	background-repeat: no-repeat;
	background-size: contain;
	color: transparent;
	display: none;
	font-size: 1px;
	height: var(--icon-size);
	inset-block-start: calc(var(--icon-size) * -0.5);
	inset-inline-end: calc(var(--icon-size) * -0.5);
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	user-select: none;
	width: var(--icon-size);
}

[data-controller-icon='a'] { background-image: var(--xbox-a); }
[data-controller-icon='b'] { background-image: var(--xbox-b); }
[data-controller-icon='x'] { background-image: var(--xbox-x); }
[data-controller-icon='y'] { background-image: var(--xbox-y); }
[data-controller-icon='lt'] { background-image: var(--xbox-lt); }
[data-controller-icon='rt'] { background-image: var(--xbox-rt); }
[data-controller-icon='lb'] { background-image: var(--xbox-lb); }
[data-controller-icon='rb'] { background-image: var(--xbox-rb); }
[data-controller-icon='select'] { background-image: var(--xbox-select); }
[data-controller-icon='start'] { background-image: var(--xbox-start); }
[data-controller-icon='dpad-left'] { background-image: var(--xbox-dpad-left); }
[data-controller-icon='dpad-up'] { background-image: var(--xbox-dpad-up); }
[data-controller-icon='dpad-down'] { background-image: var(--xbox-dpad-down); }
[data-controller-icon='dpad-right'] { background-image: var(--xbox-dpad-right); }
[data-controller-icon='left-thumb'] { background-image: var(--xbox-left-thumb); }
[data-controller-icon='right-thumb'] { background-image: var(--xbox-right-thumb); }

body[data-gamepad='dualshock'] [data-controller-icon='a'] { background-image: var(--dualshock-a); }
body[data-gamepad='dualshock'] [data-controller-icon='b'] { background-image: var(--dualshock-b); }
body[data-gamepad='dualshock'] [data-controller-icon='x'] { background-image: var(--dualshock-x); }
body[data-gamepad='dualshock'] [data-controller-icon='y'] { background-image: var(--dualshock-y); }
body[data-gamepad='dualshock'] [data-controller-icon='lt'] { background-image: var(--dualshock-lt); }
body[data-gamepad='dualshock'] [data-controller-icon='rt'] { background-image: var(--dualshock-rt); }
body[data-gamepad='dualshock'] [data-controller-icon='lb'] { background-image: var(--dualshock-lb); }
body[data-gamepad='dualshock'] [data-controller-icon='rb'] { background-image: var(--dualshock-rb); }
body[data-gamepad='dualshock'] [data-controller-icon='select'] { background-image: var(--dualshock-select); }
body[data-gamepad='dualshock'] [data-controller-icon='start'] { background-image: var(--dualshock-start); }
body[data-gamepad='dualshock'] [data-controller-icon='dpad-left'] { background-image: var(--dualshock-dpad-left); }
body[data-gamepad='dualshock'] [data-controller-icon='dpad-up'] { background-image: var(--dualshock-dpad-up); }
body[data-gamepad='dualshock'] [data-controller-icon='dpad-down'] { background-image: var(--dualshock-dpad-down); }
body[data-gamepad='dualshock'] [data-controller-icon='dpad-right'] { background-image: var(--dualshock-dpad-right); }
body[data-gamepad='dualshock'] [data-controller-icon='left-thumb'] { background-image: var(--dualshock-left-thumb); }
body[data-gamepad='dualshock'] [data-controller-icon='right-thumb'] { background-image: var(--dualshock-right-thumb); }
