@layer components {
	sr-only {
		position: absolute;
		z-index: -1;
		width: 1px;
		height: 1px;
		overflow: hidden;
		pointer-events: none;
		color: transparent;
		font-size: 1px;
		user-select: none;
	}
}
