@layer screens {
	game-over-screen {
		display: contents;

		dialog[open] {
			display: grid;
			align-items: center;
			border: var(--border-size) solid var(--border-color);
			border-radius: 1rem;
			background: var(--bg-color);
			padding: 1rem;
			width: 80vmin;
			min-width: min-content;
			height: 80vmin;
			min-height: min-content;
			text-align: center;

			h2 {
				font-size: 2rem;
				text-align: center;
			}

			div {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 1rem;
				padding-inline-start: 0;
				overflow: auto;
				text-align: center;
			}

			button {
				border: solid var(--border-color) medium;
				border-radius: 100vmax;
				background: transparent;
				padding-inline: 1rem;
				padding-block: 0.5rem;
				font-size: 1rem;

				&:hover {
					background-color: var(--font-color);
					color: var(--bg-color);
				}

				&:focus-visible {
					outline: solid var(--font-color) calc(var(--border-size) * 2);
					outline-offset: calc(var(--border-size) * 4);
				}

				&:active {
					background-color: var(--accent-color);
					color: var(--font-color-dark);
				}
			}

			&::backdrop {
				backdrop-filter: blur(1rem);
				background-color: rgba(0, 0, 0, 0.5);
				pointer-events: all;
			}
		}
	}
}
