nav {
	display: flex;
	justify-content: end;
	margin: 1rem;

	button {
		display: flex;
		border: solid var(--border-color) medium;
		border-radius: 100vmax;
		background: transparent;
		padding-inline: 0.5rem;
		padding-block: 0.5rem;
		font-size: 1rem;

		&:hover {
			background-color: var(--font-color);
			color: var(--bg-color);
		}

		&:focus-visible {
			outline: solid var(--font-color) calc(var(--border-size) * 2);
			outline-offset: calc(var(--border-size) * 4);
		}

		&:active {
			background-color: var(--accent-color);
			color: var(--font-color-dark);
		}

		svg {
			width: 1.5rem;
			height: 1.5rem;
			pointer-events: none;
		}
	}

	hr { border: none; }
}
