#title-screen[open] {
	display: grid;
	align-items: center;
	margin: 0;
	border: none;
	padding: 2rem;
	width: 100vw;
	max-width: 100vw;
	height: 100vh;
	max-height: 100vh;
	text-align: center;

	header {
		font-size: 5rem;

		h1 { margin-block: 0.2em; }

		@media (max-width: 1024px) { font-size: 2rem; }
	}

	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}

	button {
		position: relative;
		border: solid var(--border-color) var(--border-size);
		border-radius: 100vmax;
		background: transparent;
		padding-inline: 1rem;
		padding-block: 0.5rem;
		font-size: 2rem;

		&:hover {
			background-color: var(--font-color);
			color: var(--bg-color);
		}

		&:focus-visible {
			outline: solid var(--font-color) calc(var(--border-size) * 2);
			outline-offset: calc(var(--border-size) * 4);
		}

		&:active {
			background-color: var(--accent-color);
			color: var(--font-color-dark);
		}

		[data-controller-icon] { display: none; }
		body[data-gamepad] &:focus-within [data-controller-icon] { display: revert; }
	}
}
